*,*:after {
	box-sizing: border-box;
	font-family: Helvetica;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: #000;
}

header, section {
	width: 100%;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
}

.container.inner {
	padding: 0px 20px;
}

header {
position: fixed;
}

nav {
	width :100%;
	height: 55px;
	background-color: #FFF;
	padding: 2px auto;
}

section {
background-color: white;
}

nav ul {
	float: right;
	text-align: right;
}

nav ul li {
	display: inline;
}

nav ul li a {
	padding: 15px;
	text-decoration: none;
	color: #000;
	transition: all .5s;
}

nav ul li a.active {
	color: #F99E1A;
}

nav ul li a:hover {
	border-bottom: solid 3px #F99E1A;

}

.brand {
	float: left;
}

.block2 {
	width: 50%;
	float: left;
	padding: 20px;
	top: 50px
}

.block2 p::first-letter {
	font-size: 31px;
	font-weight: bold;
	float: left;
	padding-right: 4px;
}

.block3 {
	width: 33.33333%;
	float: left;
	padding: 20px;
}

img {
	max-width: 100%;
}

img.scale {
	transition: all 0.5s;
}

img.scale:hover {
	transform: scale(1.2);

}

.container:after, .block3:after, .block2:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
}

form {
	margin: 0 auto;
	max-width: 500px;
	padding: 0 20px;
}

form .formgroup {
	padding: 5px 0;
}

label {
	float: left;
}

form .formgroup div {
	padding-left: 150px;
}

input {
	width: 100%;
	padding: 7px;
	border-color: #F99E1A;
	border-radius: 5px;
}

button {
	padding: 7px 15px;
	font-size: 20px;
	border-radius: 5px;
	background-color: #F99E1A;
}

